.StatCard {
  min-height: 120px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 30px 42px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-family: "Inter", sans-serif;
}

.IconLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.Icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 10px 0px 10px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  font-family: "SF Pro", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.2;
}

.count {
  font-size: 24px;
  color: #000000;
  margin-top: 8px;
   font-family: "SF Pro", Helvetica, Arial, sans-serif;
  font-weight: 800; /* Heavy */
}
