.confirmationOverlay {
  position: fixed; /* sit on top of everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it's above other content */
}

.confirmationBox {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;
  text-align: center;
}

.modalActions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modalActions button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.title {
  font-Size: 18;
  font-Weight:600;
  text-Align: center;
  margin-Bottom: 6;
  color:#282828;
  font-Family:"Roboto-semiBold", Helvetica; 
}

.text {
  font-Size: 15;
  font-Weight:500;
  text-Align: center;
  color: #616161;
  font-Family:"Roboto-semiBold", Helvetica; 
}

.modalActions button:first-child {
  background: #fff;
  color: #000000;
  border: none;
  cursor: pointer;
  font-Family:"Inter-Regular", Helvetica;
  font-Size:14;
  font-Weight:500;
}

.modalActions button:last-child {
  background: #dc2626;
  color: #fff;
  border: none;
  cursor: pointer;
  font-Family:"Roboto-semiBold", Helvetica;
  font-Size:14;
  font-Weight:500;
}
