.sidebar {
  width: 300px;
  min-width: 300px;
  height: 100dvh;
  background-color: #ffffff;
  border-right: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* Brand section */
.sidebar-brand {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 10px;
  margin-bottom: 16px;
}

.sidebar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  object-fit: cover;
}


.sidebar-title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  color: #333333;
}

.sidebar-divider {
  height: 2px;
  background-color: #fa5c08;
  width: calc(100% + 32px); /* cancel sidebar padding */
  margin-left: -16px;
  margin-bottom: 8px;
}


/* Menu list */
.sidebar-menu {
  margin-top: 8px;
}

/* Menu Item */
.sidebar-item {
  margin-bottom: 6px;
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Icon inside item */
.sidebar-item-icon {
  min-width: 40px;
  display: flex;
  align-items: center;
}

.sidebar-item-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* Active state */
.sidebar-item.active {
  background-color: #1976d2;
  color: white;
}

.sidebar-item.active:hover {
  background-color: #1565c0;
}

/* Hover state */
.sidebar-item:hover {
  background-color: #f5f5f5;
}

/* Label text */
.sidebar-item-text {
  font-size: 15px;
}
