.container {
  padding: 20px 40px;
}

.card {
  background: #fff;
  border-radius: 0px;
  padding: 35px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.05);
}

.section {
  margin-bottom: 40px;
}

.cardTitle {
  font-size: 22px;
  margin-bottom: 24px;
  font-weight: 600;
}

/* 2 column layout */
.resetContainer {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 30px;
  align-items: center;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: -12px;
}

.form input {
  padding: 10px;
  border: 1px solid #F3F3F5;
  background-color: #F3F3F5;
  border-radius: 6px;
  width: 100%;
  font-size: 14px;
}

.form small {
  font-size: 12px;
  color: #1061db;
  margin-top: -10px;
}

.form button {
  background: #2563eb;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  width: fit-content;
}

/* IMAGE box */
.imgContainer {
  display: flex;
  justify-content: center;
}

.imgContainer img {
  width: 90%;
  height: auto;
  border: 1px solid #007bff;
  border-radius: 0px; 
  padding: 2px; 
}


/* About section */
.version {
  margin-top: 10px;
  font-weight: 600;
  color: #2563eb;
}
