* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* PAGE */

.login-page {
  min-height: 100vh;
  width: 100%;
  background: #1976D2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* CARD */

.login-card {
  width: 100%;
  max-width: 1200px;
  /* height: 50%; */
  /* max-height: 550px; */
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

/* LEFT PANEL */

.login-left {
  flex: 1;
  padding: 150px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  /* margin-top: 64px;
  margin-left: 100px; */
}

.brand {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
}

.brand img {
  width: 42px;
}

.login-left h2 {
  font-size: 28px;
  color: #0B46AB;
  font-weight: 600;
  margin-top: 16px;
}

.subtitle {
  font-size: 14px;
  color: #A7A5AF;
  margin-bottom: 28px;
}

/* FORM */

.login-left form {
  display: flex;
  flex-direction: column;
}

.login-left label {
  font-size: 14px;
  margin-bottom: 4px;
}

.login-left input {
  width: 100%;
  max-width: 320px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #00000033;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
}

/* PASSWORD */

.password-box {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.password-box img {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  width: 18px;
  cursor: pointer;
  opacity: 0.7;
}

.password-box input {
  flex: 1;
  padding-right: 40px; /* space for the eye icon */
}

.password-box img:hover {
  opacity: 1;
  transition: opacity 0.2s;
}
/* BUTTON */

.login-left button {
  height: 40px;
  max-width: 320px;
  border-radius: 4px;
  border: none;
  background: #1976D2;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* ERROR */

.error {
  margin-top: 12px;
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px 14px;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT PANEL */

.login-right {
  flex: 1;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -50%;
}

.vector {
  width: 90%;
  max-width: 520px;
}

.plane {
  position: absolute;
  width: 68px;
  top: 42%;
  right: 9%;
}

