* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: #1976D2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 1200px;
  height: 700px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

/* LEFT PANEL */

.login-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 340px;
  height:550px;
  top: 120px;
  left:200px;
  /* padding: 70px 70px; */
  color:#000000;
  background: #ffffff;
  position: relative;
}

.brand {
  display: flex;
  align-items: center;
  color: #000000;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter-Medium",Helvetica;
}

.brand img {
  width: 42px;
}

.login-left h2 {
  font-size: 28px;
  color: #0B46AB;
  font-weight: 600;
  font-family: "Inter-semibold", Helvetica;
}

.subtitle {
  opacity: 0.8;
  margin-top: -20px;
  color: #A7A5AF;
   font-size: 14px;
  font-weight: 400;
  font-family: "Inter-Regular",Helvetica;
  margin-bottom: 28px;
}

.login-left form {
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
}

.login-left label {
  font-size: 14px;
  color: #000000;
  font-family: "Inter-Regular",Helvetica;
   font-weight: 400;
  opacity: 0.85;
}

.login-left input {
  height: 35px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #00000033;
  padding: 10px;
  font-size: 14px;
   font-family: "Inter-Regular",Helvetica;
   font-weight: 400;
  outline: none;
  margin-top: 4px;
  margin-bottom: 24px;
}


.password-box {
  position: relative;
   display: flex;
  align-items: center;
}

.password-box img {
  position: absolute;
  right: 12px;
  top: 33%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;
  cursor: pointer;
  color: #000000;
}

.login-left button {
  margin-top: 10px;
  height: 35px;
  border-radius: 4px;
  border: none;
  background: #1976D2;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 100px;
}

.error {
  position: absolute;
  bottom: 95px;
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px 14px;
  border-radius: 4px;
  font-size: 14px;
}

/* RIGHT PANEL */

.login-right {
  width: 640px;
  height: 180px;
  /* left: calc(50%-272px); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 240px;
left: 150px;
}

.vector {
  width: 90%;
  max-width: 560px;
}

.plane {
  position: absolute;
  width: 68px;
  height: 61px;
  top: 30px;
  right: -20px;
}
